<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IndoorOperatorStation</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Optional meta tags -->
    <meta name="description" content="An Operator Station for Swarming Agents">
    <meta name="author" content="Ron">
    
    <!-- Distribution Includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

    <!-- Static Custom Look & Feel -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'agent/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'agent/grid.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'agent/direction_control.css' %}" />
	<link rel="shortcut icon" href="{% static 'agent/favicon.ico' %}" />
    <script src="{% static 'agent/knob_customization.js' %}"></script>
    <script src="{% static 'agent/main.js' %}"></script>
    
	<!-- On document load, ready all JS functionality -->
	<script>
	$(document).ready(function()
	{


		$("#status").hide()
	    $("#status").click(function(event)
	   	{
	    	event.preventDefault();
	    	if (document.getElementById("directionCheck").checked)
	    	{
	    		$.post("{% url 'agent:set_direction' %}", 
	    		{
	    			direction: $("#direction_value").val(),
	    			csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
	    		},
	    		function(response)
	    		{
	    			UpdateStatus(response);
	    		});	 
	    	}
	    });
		
		$("#takeoff").click(function(event)
	   	{
	    	event.preventDefault();
    		$.post("{% url 'agent:takeoff' %}",
				{
					csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
				}
			);
	    });
		
		$("#land").click(function(event)
	   	{
	    	event.preventDefault();
    		$.post("{% url 'agent:land' %}",
				{
					csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
				}
			);
	    });
		
		$("#RTL").click(function(event)
	   	{
	    	event.preventDefault();
    		$.post("{% url 'agent:rtl' %}",
				{
					csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
				}
			);
	    });


	});
	</script>
  </head>
  
  <body>
  	<div class="grid-container" id="main_container">
  		<div class="header">
  			<h2>Control the Swarm Indoors</h2>
  		</div>
		<div class="middle" id="Action" style="background-color:#ccc;">
			<h2>Actions</h2>
			<form action="{% url 'agent:takeoff' %}" method="post"  id="takeoff">
				{% csrf_token %}<input class="full_width" type="submit" value="Take off!">
			</form>

			<div class="direction_control">
				<div class="direction_control_toggle">
					<label class="switch">
						<input type="checkbox" id="directionCheck"/>
						<span class="slider"></span>
					</label>
				</div>
				<div class="direction_control_dial">
					<div  class="yui3-skin-sam"> <!-- You need this skin class -->
						<div id="direction_knob"></div>
					</div>
				</div>
				<input id="direction_value" type="text" value=""/>
			</div>
			
			<form action="{% url 'agent:land' %}" method="post" id="land">
				{% csrf_token %}<input class="full_width" type="submit" value="Land">
			</form>
				
			<form action="{% url 'agent:rtl' %}" method="post" id="RTL">
				{% csrf_token %}<input class="full_width" type="submit" value="Return To Launch">
			</form>


	  	</div><!-- Action -->
	  	<div class="footer">
	  		<p>© 2022 Ron Tcherner - MIT License</p>
	  	</div>
	</div><!-- main_container -->
  </body>
  
</html>