.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    background-color: #555;
}

.agent_data {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
