
/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header' 
  'left middle middle middle middle right'
  'left middle middle middle middle right'
  'left middle middle middle middle right'
  'left middle middle middle middle right' 
  'left middle middle middle middle right'
  'left middle middle middle middle right'
  'left middle middle middle middle right'
  'left middle middle middle middle right'
  'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-areas: 
    'header header header header header header'
    'right right right right right right'
    'middle middle middle middle middle middle' 
    'left left left left left left' 
    'footer footer footer footer footer footer';
  }
}
