* {
    box-sizing: border-box;
}

html{
	height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 25px;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  text-align: center;
}

.full_width {
    width: 100%;
    font-size: 15px;
}

th, td {
    padding: 5px;
}
th {
    text-align: left;
}

#main_container{
	height: 100%;
}

#Display{
	height: 100%;
}

#map{
	width: 100%;
	height: 100%;
	min-height: 300px;
	margin: 0;
	padding: 0;
}
